$opensans: "Open Sans", sans-serif;
$playfair: "Playfair Display", serif;

$yellow: #f2b711;
$braun-dark: #c39871;
$braun-light: #d8d1af;
$white: #fcf5e5;
$gray: #212121;
$black: #000;

.beers__list__el {
  position: relative;
  padding: 15px 20px;
  background-color: white;
  overflow: hidden;
  max-height: 110px;
  border-radius: 1px;
  box-shadow: 2px 2px 20px #EAEAEA;
  width: calc(50% -  45px);
  width: 100%;
  margin-bottom: 20px;
  transition: all .2s ease-in;
  // &:nth-child(odd){
  //   margin-right: 10px;
  // }
 
  
  h3 {
      
     margin: 0px 0px;
      font-size: 1rem;
      z-index: 3;
      color: $gray;
     
    }
    p {
      font-size: .85rem;
      margin: 0px 0px 8px;
      z-index: 3;
      position: relative;
    }
    svg {
    position: relative;
    display: inline-block;
    

    width: 20px;
     z-index: 3;
    
  }
  .tastedBox {
    display: flex;
    flex-direction: row;
  }
  span {
    display: inline-block;
    margin-left: 8px;
    opacity: .3;
    color: $gray;
  }

}

.beers__list__el--active {
  &:before {
    transform: scale(0.96, 0.90);
    transform-origin: center center;
  }
  h3 {
    text-decoration: line-through;
 
    color: $braun-dark;
  }

  span {
    opacity: 1;
  }
  
}
