$opensans: "Open Sans", sans-serif;
$playfair: "Playfair Display", serif;

$yellow: #f2b711;
$braun-dark: #c39871;
$braun-light: #d8d1af;
$white: #fcf5e5;
$gray: #212121;
$black: #000;

.beers__list__el {
  position: relative;
  background-color: $gray;
  border-radius: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 64px;
  transition: all .3s ease-in-out;
  img {
    display: block;
    width: 100%;
    z-index: 2;
    position: relative;
  }
  h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      margin: 0;
      width: 80%;
      text-align: center;
      font-size: 2.6rem;
      z-index: 1;
      color: $white;
      mix-blend-mode: difference;
    }
    .beer__details {
      background-color: $braun-dark;
      list-style: none;
      padding: 20px;
      margin: 0;
      border-radius: 2px;
      z-index: 2;
      .beer__details__li {
        color: $black;
        border-bottom: 1px solid rgba($black, .3);
        margin-bottom: 6px;
        p{
          color: $black !important;
          font-weight: 700;
          margin: 0;
          display: block;
          width: 100%;
          span {
            text-align: right;
            display: block;
            float: right;
            font-family: $playfair;
            font-style: italic;
          }
        }
      }
    }

}

.beers__list__el--active {
  background-color: $gray !important;
  padding: 6px 0px;
  margin-bottom: 40px;
  h3 {
    font-size: 1.2rem;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    width: 100%;
    text-decoration: line-through;
  }
  p {
    display: block;
    margin: 4px 0px 0px;
    text-align: center;
  }
}
