.subnav {
  width: 100%;
  height: auto;
  background-color: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  
  .subnav__ul {
    padding: 0;
    margin: 0;
    list-style: none;
    .subnav__ul__li {
      float: left;
      width: 25%;
      background-color: $white;
      a {
        display: block;
        text-align: center;
        padding: 10px 0px;
        height: 20px;
        border-top: 1px solid #eaeaea;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

.subnav__ul__li--active {
  background-color: $color-3;
  border-top: 1px solid rgba($color-4, .3) !important;
  svg {
    filter: invert(1);
  }
}
