header {
    background-color: white;
    border-bottom: 1px solid #EAEAEA;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 99;
    p {
        color: black;
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        font-style: italic;
        margin: 0;
    }
	.wrapper {
		display: flex;
		flex-direction: row;
        justify-content: space-between;
        align-items: center;
		
	}
	.btn__reset, .btn__img {
        display: block;
        height: 100%;
        padding: 8px;
        background-color: red;
        outline: none;
        border: none;
		img {
            display: block;
            width: 18px;
        }
	}

}
